.App {
  text-align: center;
}
.header {
  padding: 50px 0;
  color: white;
  background: #464646;
  width: 100%;
  border: 1px solid black;
}
.title {
  margin: 0;
}
body {
  background: #5b5b5b;
  margin: 0;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.todo-btn {
  height: 52px;
  width: 100px;
  font-size: 30px;
  background: #21d033;
  color: white;
  border: none;
  border-radius: 0;
}
.todo-input {
  border: 1px solid black;
  flex: 1;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
}
.todo {
  display: flex;
  align-items: center;
}
.todo-text {
  flex: 1;
  background: white;
  font-size: 20px;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border: 1px solid black;
}
.checkbox-wrapper {
  width: 46px;
  height: 52px;
  background: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-checkbox {
  width: 30px;
  height: 30px;
}
.remove-btn {
  width: 42px;
  height: 52px;
  font-size: 30px;
  background: #ab3636;
  color: white;
  border: none;
  border-radius: 0;
}
.complete {
  text-decoration: line-through;
  color: #c1c1c1;
}
